/*
Web Programming Step by Step, Homework 1: Recipe
This file contains the stylistic information for my pie recipe page.
*/

abbr {
	text-decoration: underline;
}

blockquote {
	background-color: #FFFFA8;
	font-style: italic;
	border: 1px solid black;

}

body {
	background-color: white;
	background-image: url('silverware.jpg');
	background-repeat: repeat repeat;
	color: #404040;
	font-family: Georgia, Garamond, serif;
	font-size: 11pt;
}

a {
	color: #A4A400;
}

h1, h2 {
	/*background-color: #F0F0F0;*/
	font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
	
}

h1 {
	font-size: 22pt;
	text-align: center;
}

h2 {
	font-size: 18pt;
	font-weight: normal;
}

.text-highlight {
	color: #A4A400;
	background-color: #F0F0F0;
	text-decoration: underline;
}

ul {
	list-style-image: url('pie_icon.gif');
}

.bold {
	font-weight: bold; 
}


.tooltip {
	visibility: visible;
}

.tooltip .tooltiptext {
	visibility: hidden;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}